#search-form {
  ::-webkit-input-placeholder {
    font-style: italic;
    color: red;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: red;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    color: red;
  }

  :-ms-input-placeholder {
    font-style: italic;
    color: red;
  }

  label {
    margin-left: 3px;
    margin-right: 6px;
    font-size: .75em;
    font-variant: small-caps;
  }

}

.centered {
  text-align: center;
  align-content: center;
}

.link-pointer {
  font-family: SimpleSymbol;
  font-size: .8em;
}

.detail-link {
  white-space: nowrap;
}

.article-detail {
  font-variant: small-caps;
  font-style: italic;
  font-size: .8em;
}

input[type="checkbox"].display {
  color: black;
}

.comment {
  font-style: italic;
}

.list-image {
  img {
    max-height: 40px;
  }
}

.inactive {
  text-decoration: line-through;
  color: grey;
}

.important-notice {
  background: lightpink;
  padding: 7px;
  border-left: hotpink solid 8px;
  font-variant: small-caps;
  font-weight: bolder;
}