#wrapper {
  position: relative;
  margin: auto;

  #meter {
    width: 100%; height: 100%;
    transform: rotateX(180deg);
  }

  .circle {
    fill: none;
  }

  .outline, #mask {
    stroke: #F1F1F1;
    stroke-width: 65;
  }

  .range {
    stroke-width: 60;
  }

  #meter_needle {
    height: 40%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 10%;
    transform-origin: bottom center;
    transform: rotate(270deg);
  }
}
