.title-area {
  .name {
    h1 {
      color: #fff;
      font-size: 1.7rem;
      font-weight: bolder;

      img {
        height: 80px;
      }
    }
  }
}

.top-bar-section {
  .left {
    .main-title {
      color: #fff;
      font-size: 2.5rem;
      font-weight: bold;
      padding-left: 40px;
      padding-top: 20px;
    }
  }
}